@model SOCMonitorV2.Models.ResetPwdModel

<div>
    <h4>Password Reset Response</h4>
    <hr />
    <dl class="row">
        
        <dd class = "col-sm-10">
            <h2><font color="blue"> @Html.DisplayFor(model => model.Response) </font><font color="red"> [SOC@123]</font></h2>
        </dd>
        
    </dl>
</div>
