@model SOCMonitorV2.Models.ResetPwdModel

<h4>Password Reset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPwd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="ECNo" class="control-label">Select Employee</label>
                <select asp-for="ECNo" class="form-control" asp-items="@(new SelectList(ViewBag.OffList, "ECNo", "Name"))"></select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Reset to Default" class="btn btn-primary" onclick="return confirm('Do you really want to reset the password?')" />
            </div>
        </form>
    </div>
</div>

