@model SOCMonitorV2.Models.CompositeSOCModel

@{
    ViewData["Title"] = "SOC Shift Monitoring";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h4>ChangePassword</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Role != "Admin" || ViewBag.Role != "SuperAdmin")
        {
            <p><h4><font color="blue"> To mark attendance, you have to change default password and re-login </font></h4> </p>
        }
    </div>
    <div class="col-md-5">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChangePasswordModel.CurrentPassword" class="control-label"></label>
                <input asp-for="ChangePasswordModel.CurrentPassword" class="form-control" autofocus />
                <span asp-validation-for="ChangePasswordModel.CurrentPassword" class="text-danger"></span>
                <input type="hidden" asp-for="ECNo" />
                <input type="hidden" asp-for="Logins.Role" />
                <input type="hidden" asp-for="Logins.Designation" />
                <input type="hidden" asp-for="Logins.Name" />
            </div>
            <div class="form-group">
                <label asp-for="ChangePasswordModel.NewPassword" class="control-label"></label>
                <input asp-for="ChangePasswordModel.NewPassword" class="form-control" />
                <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangePasswordModel.ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ChangePasswordModel.ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ChangePasswordModel.ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div>
                <font color="red">@ViewBag.Response</font>
            </div>
            <p></p><div class="form-group">
                <input type="submit" value="Submit" asp-action="ChangePassword" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


